# Functional programming in python
It is a paradigm in which the primary method of computation is evaluation of fucntions.
A pure function is a function whose output value follows soleley from its input values, without any observable side effects.
### Advantages of fucntional coding


*   High level
*   Transparent and parallelizable
we describe the result we want rarher than explicitly specifying the steps required to get there. Single statements tend to be concise.
The behaviour of a pure function depends only on its i/p and o/ps, without intermediary values. That eliminates the possibility of side effects, which facilitates debugging.
In pure function, when we give the list of elements into the function, it should give the same output when we execute n number of times.
Able to test code better.
e.g [1,2,3] -> f(x**2)-> [2,4,6]
and it should not produce any side effect.(to the outside world(outside the code).

In [9]:
 #we can use a function to a variable. can then use that variable the same as we would use the function itself.

def mul_by2(li):
  new_list= []
  for item in li:
    new_list.append(item*2)
  return new_list

print(mul_by2([1,2,3]))

[2, 4, 6]

In [5]:
print(2*3)

6

In [14]:
# important functions- map, reduce, zip, filter

#map - map(func, *iterables)

def multiply_by2(list):
  return list*2

print(list(map(multiply_by2, [3,4,5])))  # data gets acted upon

[6, 8, 10]

In [15]:
new_list=[1,2,3]                                #map function doesnt affect outside world and lists are immutable.
def multiply_by2(list):
  return list*2

print(list(map(multiply_by2, [3,4,5])))
print(new_list)

[6, 8, 10]
[1, 2, 3]

In [16]:
# filter - 
new_list=[3,4,5]                               
def multiply_by2(list):
  return list*2

def check_odd(list):
  return list % 2 != 0

print(list(filter(check_odd, new_list)))
print(new_list)

[3, 5]
[3, 4, 5]

In [17]:
#zip - when we need 2 list and 2 iterables then we use zip 

new_list=[3,4,5]  
my_list=[10,202,30]                  #this list also can be a tuple. it doesnt matter                         
def multiply_by2(list):
  return list*2

def check_odd(list):
  return list % 2 != 0

print(list(zip(new_list, my_list)))         #returns combined tuples in a list
print(my_list)

[(3, 10), (4, 202), (5, 30)]
[10, 202, 30]

In [19]:
# reduce - bit advanced.

from functools import reduce


my_list=[10,20,30]                             
def multiply_by2(list):
  return list*2

def check_odd(list):
  return list % 2 != 0

def accumulator(acc, list):
  print(acc, list)
  return acc + list

print(reduce(accumulator , my_list, 0))
print(my_list)

0 10
10 20
30 30
60
[10, 20, 30]

In [20]:
# lambda expressions- function we need to use it once ina single line code. also called as anonymous function

#lambda param: action(param)   #action we wanna take in parameter

my_list= [5,7,9]
print(list(map(lambda i: i*3, my_list)))

[15, 21, 27]

In [24]:
# square
my_list= [4,5,6]
print(list(map(lambda i : i**2, my_list)))

[16, 25, 36]

In [25]:
#list sorting
a= [(0,2),(4,3),(9,9),(10,-1)]
a.sort(key=lambda x: x[1])
print(a)

[(10, -1), (0, 2), (4, 3), (9, 9)]

In [26]:
# List comprehensions 

#my_list= [param for param in iterable]
my_list= [var for var in 'hello']
print(my_list)

['h', 'e', 'l', 'l', 'o']

In [27]:
my_list= [var for var in 'hello']
my_list2= [num for num in range(0,10)]
print(my_list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
my_list3= [num*2 for num in range(0,10)]
print(my_list3)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [32]:
my_list4= [num**2 for num in range(0,20) 
if num % 2 == 0]
print(my_list4)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324]

In [33]:
my_list5= [num**2 for num in range(0,20) 
if num % 2 != 0]
print(my_list5)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [34]:
# set comprehensions
my_list5= {num**2 for num in range(0,20) 
if num % 2 != 0}
print(my_list5)

{1, 121, 225, 289, 9, 169, 361, 81, 49, 25}

In [36]:
# dictionary comprehensions

sim_dict={'jan':1,
'feb': 2}
my_dict = {k:v**2 for k,v in sim_dict.items() }
print(my_dict)

{'jan': 1, 'feb': 4}